.card {
  background: #fff;
  border-radius: 2px;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  border-color: 	#E4DC65;
  border-width: 100px;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  /* background: #DD3221; */
  background-color: rgba(226, 9, 9, 0.1);
}  
 

.card > .img-container > img {
  width: 60%;
  
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
 
}






