.wrapper {
  padding-top: 50px;
  background-image: url("https://vignette.wikia.nocookie.net/en.futurama/images/3/32/New_New_York_Cityscape.jpg/revision/latest?cb=20120124160106");
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-color: #cccccc;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

